<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PLAYBACK" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".ApplicationClass"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/music_player_icon_round"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        tools:targetApi="31">
        <activity
            android:name=".SelectionActivity"
            android:screenOrientation="sensorPortrait"
            android:configChanges="uiMode|orientation"
            tools:ignore="DiscouragedApi,LockedOrientationActivity"
            android:theme="@style/Theme.MusicPlayer"/>
        <activity
            android:name=".PlaylistDetails"
            android:exported="false"
            android:label="@string/title_activity_playlist_details"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MusicPlayer"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".DownloadActivity"
            android:exported="false"
            android:label="Downloads"
            android:requestLegacyExternalStorage="true"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".PlaylistActivity"
            android:exported="false"
            android:label="@string/title_activity_playlist"
            android:requestLegacyExternalStorage="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MusicPlayer"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".FavouriteActivity"
            android:exported="false"
            android:label="@string/title_activity_favourite"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".PlayerActivity"
            android:exported="false"
            android:label="@string/title_activity_player"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/splash_screen"
            tools:ignore="LockedOrientationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".MusicService"
            android:foregroundServiceType="mediaPlayback" />

        <receiver
            android:name=".NotificationReceiver"
            android:enabled="true" />
    </application>

</manifest>